DATABASE_URL="sqlite+aiosqlite:///./market.db"
# Para PostgreSQL descomentar:
# DATABASE_URL="postgresql+asyncpg://user:password@host:5432/dbname"

SECRET_KEY="supersecretkey-cambiar-en-produccion"
ACCESS_TOKEN_EXPIRE_MINUTES=60
ADMIN_EMAIL="admin@market.com"
ADMIN_PASSWORD="admin123"
DEBUG=false
